<div class="row">
  <div class="search-form">
    <%= form_tag(url, method: 'get', role: 'form', class: "form-inline" ) do %>
      <div class="search-input">
        <label class="sr-only" for="suggestId">输入地址</label>
        <%= text_field_tag(:suggestId, nil, placeholder: "请输入所在地址,或商圈,或大厦", class: "form-control") %>

        <div id="searchResultPanel"></div>
        <input class="lng" type="hidden" value name="lng">
        <input class="lat" type="hidden" value name="lat">
      </div>
      <button type="submit" class="btn btn-primary">下单</button>
    <% end %>
  </div>
</div>
