<div class="container">
  <a class="banner-brand" href="<%= root_path %>">
    <img src="<%= image_path("logo.png") %>" alt="Bootstrappin'" width="120">
  </a>

  <ul class="main-nav nav nav-pills" role="tablist">
    <li role="presentation"><a href="#"><i class="fa fa-user fa-lg"></i> 登录</a></li>
    <li role="presentation"><a href="#"><i class="fa fa-users fa-lg"></i> 注册</a></li>
  </ul>
</div>
