<section class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 searchForm">
        <h1 class="fontlato">简单迅速的网络外卖</h1>
        <h2 class="fontlato">把您喜爱的食物送到家</h2>
        <%= render 'shared/search' %>
      </div>
    </div>
  </div>
</section>

