<div class="container">
  <div id="welcome" class="jumbotron">
    <div class="container">
      <h1><strong>xxx.com</strong></h1>
      <p>把您喜欢的食物送到家!</p>
    </div>
  </div>

  <%= render 'shared/search', url: stores_path %>
</div>


