<div id="cart">
  <div class="cart-panel panel panel-success">
    <div class="panel-heading">
      <i class="fa fa-shopping-cart"></i> 购物车
      <span class="pull-right">0 items</span>
    </div>

    <table class="table">
      <tr>
        <td>菜 品</td>
        <td>数 量</td>
        <td>单 价</td>
      </tr>

      <%= render cart.line_items %>
    </table>
  </div>
</div>
